<nav class="navbar navbar-expand-lg border-bottom bg-light py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/loome"
      ><i class="fa-solid fa-bag-shopping icon"></i>Loomê</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" href="/loome">Home</a>
        <a class="nav-item nav-link" href="/loome/shop">Shop</a>
        <a class="nav-item nav-link" href="/loome/blog">Blog</a>
        <a class="nav-item nav-link opacity-50 disabled" href="#">About</a>
        <a class="nav-item nav-link opacity-50 disabled" href="#">Contact us</a>
        <a href="/loome/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
  </div>
</nav>
