<% layout("includes/boilerplate.ejs") %>
<body>
  <div class="my-5 py-5 container">
    <h1 class="mt-5"><%=err.message%></h1>
    <form action="/loome" method="get"><button>Go-back</button></form>
  </div>
</body>
